    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body{
        background-color: #f8f8f8;
    }

    .conteiner{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35%;
        width: 100%;
        height: 70vh;
    }

    .cadastro_figura{
        background-color:rgb(69, 69, 163);
        padding: 4vh;
        display: flex;
        justify-content: center;
        border-top-right-radius: 6px ;
        border-top-left-radius: 6px ;
    }

    .cadastro_rota{
        background-color:rgb(69, 69, 163);
        padding-bottom: 3vh;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .nome_cad_rota{
        color: white;
        font-size: 2.5vh;
        font-weight: bold;
    }

    .lista_figura{
        background-color:rgb(69, 69, 163);
        width: 39.5vh;
        padding-top: 4vh;
        padding-bottom: 4vh;
        display: flex;
        justify-content: center;
        border-top-right-radius: 6px ;
        border-top-left-radius: 6px ;
    }

    .lista_rota{
        background-color:rgb(69, 69, 163);
        padding-bottom: 3vh;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;    
    }

    .nome_list_rota{
        color: white;
        font-size: 2.5vh;
        font-weight: bold;
    }
