* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body{
    background-color: #f8f8f8;
    }

    label{
        font-size: 2.5vh;
        color: rgb(121, 121, 121);
    }

    p{
        color: tomato;
    }

    .conteiner{
        display: grid;
        gap: 1%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 10vh;
        margin-left: 7vh;
        margin-right: 7vh;
        background-color: rgb(199, 199, 199);
        padding: 2vh;
        padding-top: 2vh;
        border-radius: 2%;
    }

    .titulo_form{
        margin-left: 3vh;
        border-left: 5px solid tomato;
    }



    h2{
        color:rgb(243, 81, 53);
        margin-left: 1vh;
    }

    .dadospessoais{
            background-color: rgb(255, 255, 255);
            font-weight: bold;
            color: white;
            grid-column: 1/2;   
            grid-row: 2/3;
            width: 100%;
            border: none;
            border-radius: 1vh;
            display: flex;
            justify-content: center;
            padding: 12%;
    }

    .dadosempresa{
        background-color: rgb(255, 255, 255);
        font-weight: bold;
        color: white;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        border: none;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        padding: 12%;
    }

    .dadosfinais{
            background-color: rgb(255, 255, 255);
            font-weight: bold;
            color: white;
            grid-column: 3/4;
            grid-row: 2/3;
            width: 100%;
            border: none;
            border-radius: 1vh;
            display: flex;
            justify-content: center;
            padding: 12%;
    }

    .titulo{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        font-size: x-large;
    }

    input{
        background-color: rgb(235, 235, 235);
        border: none;
        border-bottom: 2px solid silver;
        border-radius: 0.5vh;
        padding: 1vh;
        font-size: large;
        outline: none;
        margin-top: 1%;
        width: 100%;
    }

    ::-webkit-input-placeholder{
        color: rgb(185, 185, 185);
    }

    textarea{
        background-color: rgb(235, 235, 235);
        border: none;
        border-bottom: 2px solid silver;
        border-radius: 0.5vh;
        padding: 1vh;
        outline: none;
        margin-top: 1.5%;
    }

    .botao{
        width: 100%;
        height: 5.5vh;
        display: flex;
        justify-content: center;
        grid-column: 1/4;
        margin-top: 4vh;
    }

    button{

        background-color: rgb(151, 149, 149);
        border: none;
        border-radius: 3px;
        width: 30%;
        cursor: pointer;
        font-weight: bold;

    }

    .botao :hover {
        background-color: rgb(99, 99, 99);
        transition: 1s;
        color: tomato;
    }

    option{
        background-color: rgb(124, 124, 124);
        font-weight: bold;
        outline: none;
    }

    select{
        border: none;
        background-color: silver;
        border-radius: 3px;
        outline: none;

    }

