* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body{
    background-color: white;
    }

    .geral{
        margin-left: 1%;
    }

    .conteiner{
        width: 99%;
        background-color: #f8f8f8;
        display: flex;
    }

    .conteiner_dois{
        width: 99%;
        background-color: #f8f8f8;
        display: inline-flex;
    }

    .conteiner_tres{
        padding-top: 1%;
        width: 99%;
        background-color: #f8f8f8;
    }

    .conteiner_quatro{
        padding-top: 3%;
        width: 99%;
        background-color: #f8f8f8;
        display: inline-flex;
    }

    .conteiner_cinco{
        padding-top: 5%;
        width: 99%;
        background-color: #f8f8f8;
    }

    .conteiner_seis{
        width: 99%;
        display: inline-flex;
    }

    .conteiner_sete{
        width: 99%;
        display: inline-flex;
        justify-content: space-between;
        background-color: #f8f8f8;

    }

    .titulo{
        background-color: rgb(69, 69, 163);
        width: 100%;
        padding: 2vh;
        margin-bottom: 5vh;
    }


    .entrada_numero{
        display: flex;
        justify-content: center;
        background-color: rgb(129, 129, 129);
        padding: 1vh;
        width: 99%;
    }

    .botoes{
        display: flex;
        justify-content: end;
        width: 99%;
        background-color: #f8f8f8;
    }

    .botoes_diversos{
        margin-right: 4vh;
        background-color: white;
        border: 1px solid #ebebeb;
    }

    .botao{
        display: flex;
        justify-content: center;
        padding: 2vh;
        width: 99%;
        background-color: #f8f8f8;
        margin-bottom: 5vh;
    }

    button{
        color: #4b4b4b;
        background-color: rgb(206, 206, 206);
        padding: 1vh;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        width: 15%;
        font-weight: bold;
        font-size: large;
    }

    .botao_tela:hover {
        background-color: rgb(99, 99, 99);
        transition: 1s;
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }

    #entrada_dimensoes{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #dimensoes{
        width: 100%;
        padding-right: 2vh;
    }

    .dimensoes_input{
        width: 100%;
    }

    p{
        font-size: 3vh;
        color: white;
    }

    label{
        font-size: 1.9vh;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    option{
        font-weight: bold;
        outline: none;
    }

    select{
        border: 1px solid #f0f0f0;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        outline: none;
        width: 98%;
        height: 6vh;
        padding: 1vh;
        margin-top: 0.7vh;
        color: rgb(139, 139, 139);
    }

    .unidade{
        width: 15%;
    }

    input{
        background-color: rgb(235, 235, 235);
        border: none;
        border-bottom: 2px solid silver;
        border-radius: 0.5vh;
        padding: 1vh;
        font-size: large;
        outline: none;
        margin-top: 1%;
        width: 98%;
    }

    .selecionadores{
        padding-left: 3vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
    
    .titulo_vl_tela{
        font-size: 3vh;
        color: rgb(226, 17, 17);
        background-color: black;
        padding-left: 10%;
    }

    .tela{
        background-color: rgb(0, 0, 0);
        height: 10vh;
        color: rgb(226, 17, 17);
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 8vh;
    }

    .titulo_escrita{
        margin-left: 6vh;
    }

    ::-webkit-input-placeholder{
        color: rgb(185, 185, 185);
    }

    textarea{
        background-color: rgb(235, 235, 235);
        border: none;
        border-bottom: 2px solid silver;
        border-radius: 0.5vh;
        padding: 1vh;
        margin-top: 1vh;
        outline: none;
        width: 96%;
        height: 59vh;
    }

    table{
        width: 100%;
        border-collapse: collapse;
    }

    tr{
        border: 1px solid transparent;
    }

    th{
        padding: 1vh;
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
        color: #3d3d3d;
        border-left: 1px solid #d6d6d6;
    }

    td{
        padding: 1vh;
        font-size: 1.8vh;
        font-family:Arial, Helvetica, sans-serif;
        color: #4b4b4b;
        text-align: left;
    }

    tr:nth-child(odd) {
        background-color:#ffffff;
    }

    tr:nth-child(even) {
        background-color:#f0f0f0;
    }

    table tr.table_tr{
        border: 1.5px solid #d6d6d6;
        padding: 1vh;
    }

    .table_td_id_os{
        border: 1px solid #d6d6d6;
        background-color: #e4e4e4;
    }

    .table_tr_th{
        width: 20vh;
        font-size: 2.5vh;
    }

     .fa-solid.fa-pen-to-square{
        width: 20vh;
    }

    .fa-solid.fa-magnifying-glass{
        width: 20vh;
    }

    .Vtotal{
        color: white;
    }

    .table_td_id_os{
        width: 5%;
    }

    .parte_um{
        width: 50%;
    }

    .parte_dois{
        width: 50%;
    }

    .parte_tres{
        width: 50%;
        background-color: rgb(94, 94, 206);
    }

    .parte_quatro{
        width: 50%;
        background-color: rgb(94, 94, 206);
    } 

    .parte_cinco{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .parte_seis{
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }

    .parte_sete{
        width: 100%;
        background-color: black;
    }

    .parte_nove{
        width:10%;
        background-color:rgb(133, 133, 133);
        display: flex;
        align-items: center;
        padding: 1%;
    }

    .parte_dez{
        width: 90%;
        background-color: rgb(133, 133, 133);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .parte_onze{
        display: inline-flex;
        align-items: center;
    }

    .parte_doze{
        display: inline-flex;
        align-items: center;
    }




