<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/menuTopo.ejs'); %>
    
    <div class="conteiner">

        <h2>Lista de DESPESAS FIXAS</h2>

        <div>
            <p>Você possui um total de: <%= rows.length %> Despesas Fixas</p>
        </div>

        <table border="1">
            <% for(let i in rows) { %>
            <tbody>
                <tr>
                    <td class="linhas">Nome
                        <h3><%= rows[i].despesa_fixa_nome %></h3>
                    </td>
                    <td>Tipo
                        <h5><%= rows[i].despesa_fixa_tipo %></h5>
                    </td>
                </tr>
            </tbody>
            <% } %>
        </table>

    </div>
</body>
</html>