<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/despesas.css">
    <title>DESPESAS VARIAVEIS</title>
</head>
<body>
    <%- include('../partials/menuTopo.ejs'); %>
    
    <div class="conteiner">
        <div class="despesa_fixa">
            <a href="/home/despesas/despesas_variaveis/cadastro_despesa_variavel">Cadastrar tipo de DESPESA(s)</a>
        </div>
        <div class="despesas_variaveis">
            <a href="/home/despesas/despesas_variaveis/adicionar_despesa_variavel">Adicionar DESPESA(s)</a>
        </div>
        <div class="despesas_fiscais">
            <a href="/home/despesas/despesas_variaveis/visualizar_despesa_variavel">Vizualizar DESPESA(s)</a>
        </div>
    </div>
</body>
</html>