<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cliente.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">

    <title>REGISTRO USUARIO</title>
</head>
<body>

    <%- include('../partials/menuTopo.ejs'); %>
    
       <div class="conteiner">
            <div class="cadastro">
                <div class="cadastro_figura">
                    <i class="fa-solid fa-user-pen" style="color:white; font-size: 25vh;"></i>
                </div>
                <div class="cadastro_rota">
                    <a class="nome_cad_rota" href="/home/cliente/cadastro">CADASTRAR Cliente</a>
                </div>
            </div>
            <div class="lista">
                <div class="lista_figura">
                    <i class="fa-solid fa-list" style="color:white; font-size: 25vh;"></i>
                </div>
                <div class="lista_rota">
                    <a class="nome_list_rota" href="/home/cliente/lista">LiSTAR Cliente(s)</a>
                </div>
            </div>
       </div>
</body>
</html>