<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrar_cliente.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
    <title>CADASTRO CLIENTE</title>
</head>
<body>

    <%- include('../partials/menuTopo.ejs'); %>

        <form action="/cadastro_cliente_service" method="post">
            
            <div class="titulo">
                <label> 
                    <p class="titulo_escrita"><i class="fa-solid fa-address-card fa-xl"></i> Cadastro de Cliente</p>
                </label>
            </div>

            <div class="geral" id="geral">

                <div class="conteiner" id="conteiner">

                    <div class="parte_um">
                        <div class="titulo_coluna">
                            <p>DADOS CADASTRAIS</p>
                        </div>
                        <div class="selecionadores">
                            <label >Nome Fantasia: <br>
                                <input  type="text" name="nome_fantasia" placeholder="Ex: Cromoduro Poliman">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label for="">Razao Social: <br>
                                <input type="text" name="razao_social" placeholder="Ex: Luiz Penko Felisbino - ME">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label for="">CNPJ: <br>
                                <input type="number" name="cnpj" placeholder="Ex: 12.345.678/0001-00">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label for="">Inscrição Estadual: <br>
                                <input type="number" name="i_e" placeholder="Ex: 123.456.789.000">
                            </label>
                        </div>
                    </div>
                    <div class="parte_dois">
                        <div class="titulo_coluna">
                            <p>DADOS EMPRESA</p>
                        </div>
                        <div class="selecionadores">
                            <label>Endereço: <br>
                                <input type="text" name="endereço" placeholder="Ex: Av. Interdistrital  957">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label>Cidade: <br>
                                <input type="text" name="cidade" placeholder="Ex: Santa Barbara d` Oeste">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label>Bairro: <br>
                                <input type="text" name="bairro" placeholder="Ex: Distrito Industrial">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label>CEP: <br>
                                <input type="number" name="cep" placeholder="Ex: 13.450-000">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label for="">UF: <br>
                                <select name="uf">
                                    <option value="sp">SP</option>
                                    <option value="rj">RJ</option>
                                    <option value="mg">MG</option>
                                    <option value="es">ES</option>
                                    <option value="pr">PR</option>
                                    <option value="sc">SC</option>
                                    <option value="rs">RS</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="parte_tres">
                        <div class="titulo_coluna">
                            <p>DADOS CONTATO</p>
                        </div>
                        <div class="selecionadores">
                            <label>Nome Responsavel: <br>
                                <input type="text" name="nome_resp" placeholder="Ex: Fabio">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label >Cargo: <br>
                                <input type="text" name="cargo" placeholder="Ex: Administrador">
                            </label> 
                        </div>
                        <div class="selecionadores">
                            <label>Contato Celular: <br>
                                <input type="number" name="cont_cel" placeholder="Ex: 19 99912 3456">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label>Contato WHATSAPP: <br>
                                <input type="number" name="cont_whats" placeholder="Ex: 19 99912 3456">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label>Contato Fixo: <br>
                                <input type="number" name="cont_fixo" placeholder="Ex: 19 3454 1234">
                            </label>
                        </div>
                        <div class="selecionadores">
                            <label>Email: <br>
                                <input type="text" name="email" placeholder="Ex: Penko@penko.com.br">
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="text_area">
                <label> Observações: 
                    <textarea name="obs" cols="30" rows="10" placeholder="Ex: Digite aqui as observações necessarias!"></textarea>
                </label>
            </div>
            <div class="botoes">
                <button class="botoes_diversos" onclick="imprimir()"><i class="fa-solid fa-print fa-xl"></i> Impressão</button>
                <button type="button" class="botoes_diversos" onclick="limpar()"><i class="fa-solid fa-eraser fa-xl"></i> Limpar</button>
            </div>
            <div class="botao">
                <button class="cadastrar">CADASTRAR</button>
            </div>
            
        </form>
</body>
</html>