<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/acesso.css">
    <title>ACCESS</title>
</head>
    <body>
        <header>
            <div class="fundo"></div>
            <div class="logo"></div><br>
            <div class="form">
                <form action="/loginservice" method="post">
                    <input type="text" placeholder="Insira seu nome de Usuario" name="usuario">
                    <input type="password" placeholder="Insira a sua senha" name="senha">
                    <button class="btn btn-success">Entrar</button><br>
                    <a href="esquecerSenha"><p>Esqueci minha senha</p></a>

                    <p></p>
                </form>
            </div>
        </header>
    </body>
</html>