<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <div class="conteiner">

        <div class="parte_um">
            <div class="teste">
                <div class="testefonte">
                </div>
                <a href="/home/registro">TESTE</a>
            </div>
        </div>
        <div class="parte_dois">
            <div class="registro">
                <div class="registrofonte">
                    <i class="fa-solid fa-clipboard-check" style="color:rgb(231, 231, 231); font-size: 25vh; margin-top: 5%;" ></i>
                </div>
                <div class="registroletra">
                    <a href="/home/registro">Registrar Usuario</a>
                </div>
            </div>
            <div class="financeiro">
                <div class="financeirofonte">
                    <i class="fa-solid fa-file-invoice-dollar" style="color:rgb(134, 9, 9); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <div class="financeiroletra">
                    <a href="/home/financeiro">Financeiro</a>
                </div>
            </div>
            <div class="entrada">
                <div class="entradafonte">
                    <i class="fa-solid fa-check" style="color:rgb(238, 238, 238); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <a href="/home/entrada">Entrada</a>
            </div>
            <div class="usuario">
                <a href="/home/usuario">Usuario</a>
            </div>
            <div class="orçamento">
                <div class="orçamentofonte">
                    <i class="fa-solid fa-pen-to-square" style="color:rgb(77, 77, 77); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <a href="/home/orcamento">Orçamento</a>
            </div>
            <div class="despesas">
                <div class="despesasfonte">
                    <i class="fa-solid fa-dollar-sign" style="color: rgb(248, 111, 87); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <a href="/home/despesas">Despesas</a>
            </div>
            <div class="chat">
                <div class="chatfonte">
                    <i class="fa-solid fa-comments" style="color:rgb(153, 153, 153); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <a href="/home/chat">Chat</a>
            </div>
            <div class="producao">
                <div class="producaofonte">
                    <a href="/home/producao" style="font-size: 4vh; margin-top: 5%;">Produção</a>
                </div>
            </div>
            <div class="nfe">
                <div class="nfefonte">
                    <i class="fa-solid fa-award" style="color:rgb(255, 252, 47); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <a href="/home/nfe">NF-e</a>
            </div>
            <div class="cliente">
                <div class="clientefonte">
                <i class="fa-solid fa-handshake" style="color:rgb(252, 137, 137); font-size: 14vh; margin-top: 5%;"></i>
                </div>
                <a href="/home/cliente">Cliente</a>
            </div>
        </div>
        
    </div>
</body>
</html>