<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <div class="conteiner">

        <div class="registro">
            <div class="registrofonte">
                <i class="fa-solid fa-clipboard-check" style="color:white; font-size: 25vh;"></i>
            </div>
            <a href="/home/registro">Registrar Usuario</a>
        </div>
        <div class="financeiro">
            <i class="fa-solid fa-file-invoice-dollar" style="color:white; font-size: 14vh; margin-left: 30%; margin-top: 5%;"></i>
            <a href="/home/financeiro">Financeiro</a>
        </div>
        <div class="producao">
            <i class="fa-solid fa-hammer" style="color:white; font-size: 14vh; margin-left: 20%; margin-top: 5%;"></i>
            <a href="/home/producao">Producao</a>
        </div>
        <div class="usuario">
            <a href="/home/usuario">Usuario</a>
        </div>
        <div class="orçamento">
            <div class="orçamentofont">
                <i class="fa-solid fa-pen-to-square" style="color:white; font-size: 14vh;"></i>
            </div>
            <a href="/home/orcamento">Orçamento</a>
        </div>
        <div class="despesas">
            <i class="fa-solid fa-dollar-sign" style="color:white; font-size: 14vh; margin-left: 35%; margin-top: 5%;"></i>
            <a href="/home/despesas">Despesas</a>
        </div>
        <div class="chat">
            <div class="chatfonte">
                <i class="fa-solid fa-comments" style="color:white; font-size: 14vh;"></i>
            </div>
            <a href="/home/chat">Chat</a>
        </div>
        <div class="penko">
        </div>
        <div class="nfe">
            <i class="fa-solid fa-award" style="color:white; font-size: 14vh; margin-left: 20%; margin-top: 5%;"></i>
            <a href="/home/nfe">NF-e</a>
        </div>
        <div class="cliente">
            <div class="clientefont">
            <i class="fa-solid fa-handshake" style="color:white; font-size: 14vh;"></i>
            </div>
            <a href="/home/cliente">Cliente</a>
        </div>
    </div>
</body>
</html>