<link rel="stylesheet" href="/css/menuTopo.css">

<div class="menu">
    <div class="menuvoltar">
        <div class="h5voltar">
        <a href="javascript:history.back()"><h5>VOLTAR</h5></a>
        </div>
    </div>
    <div class="menuvisualizar">
        <div class="h5visualizar">
            <a href="/home/producao"><h5>PRODUÇÃO</h5></a>
        </div>
    </div>
    <div class="menueditar">
        <div class="h5editar">
            <h5>FINANCEIRO</h5>
        </div>
    </div>
    <div class="menuapagar">
        <div class="h5apagar">
        <a href="/home/despesas"><h5>DESPESAS</h5></a>
        </div>
    </div>
    <div class="menufinan_funci">
        <div class="h5finan_funci">
        <a href="/home/orcamento"><h5>ORÇAMENTO</h5></a>
        </div>
    </div>
    <div class="menuoutro2">
        <div class="h5outro2">
            <h5>CHAT</h5>
        </div>
    </div>        
    <div class="menuoutro3">
        <div class="h5outro3">
        <a href="/home/cliente"><h5>CLIENTE</h5></a>
        </div>
    </div>        
    <div class="menuoutro4">
        <div class="h5outro4">
            <h5>NF-E</h5>
        </div>
    </div>        
    <div class="menuoutro5">
        <div class="h5outro5">
        <a href="/home"><h5>HOME</h5></a>
        </div>
    </div>
</div>